* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #e6e5e567;
}
.container {
  max-width: 50rem;
  margin: 2rem auto;
}
.signin-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.signin-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 16rem;
}
.signin-descriptions img {
  max-width: 100%;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
.signin-descriptions h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* border: 1px solid black; */
  padding: 8rem 2.5rem;
  background-color: #fff;
  box-shadow: 0px 1px 1px #e4e4e4;
  border-radius: 1rem;
  padding-top: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
}
.email-section,
.password-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.email-section label {
  font-size: 2rem;
  color: #333;
}
.email-section input {
  height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid #b1b1b130;
  box-shadow: 1px 2px 2px #888;
  margin-bottom: 3rem;
  outline: none;
  font-size: 1.8rem;
}

.email-section input:hover {
  border: 1px solid #31c9c0;
}
.password-section label {
  font-size: 2rem;
  color: #333;
}
.password-section input {
  height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid #b1b1b130;
  box-shadow: 1px 2px 2px #888;
  margin-bottom: 3rem;
  outline: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.password-section input:hover {
  border: 1px solid#31c9c0;
}

.password-section {
}

.checkbox-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.checkbox input {
  outline: none;
  padding: 2rem;
  font-size: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.checkbox label {
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
}
.checkbox label:hover {
  color: #888;
}
.forget-password a:link,
.forget-password a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.5s;
  color: #31c9c0;
}
.forget-password a:hover,
.forget-password a:active {
  color: #31c9bfaf;
  border-bottom: 1px solid #31c9c0;
}

.signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.signin-btn input {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 1rem 22.5rem;
  background-color: #31c9c0;
  border-radius: 1rem;
  border: none;
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
  box-shadow: 1px 2px 2px #f3f3f3, -1px -2px 2px #f3f3f3;
  cursor: pointer;
  transition: all 0.5s;
}
.signin-btn input:hover {
  box-shadow: 1px 2px 4px #cfcfcf, -1px -2px 4px #cfcfcf;
  color: #444;
}
.continue-with {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 2rem;
}
.continue-with h2 {
  font-size: 1.8rem;
  color: #363636;
}
.continue-with p {
  padding: 0 6rem;
  border: 0.6px solid #dbdbdb;
}
.option-signin {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.option-signin a:link,
.option-signin a:visited {
  text-decoration: none;
  padding: 1rem 4.8rem;
  border: 1px solid #c4c4c4;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  color: #363636;
}
.google-icon {
  font-size: 2rem;
}
.not-member {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
}
.not-member p {
  font-size: 1.8rem;
  color: #444;
}
.not-member a:link,
.not-member a:visited {
  font-size: 1.7rem;
  text-decoration: none;
  color: blue;
}
